*{
    background-color: brown;
   /* border: 3px dotted #000;*/
}


#exp{
    width: 25%;
    overflow: hidden;
    float: left;
}
#headline{
    margin: 10px auto 10px auto;
    min-width: 500px; 
    width: 75%;
    text-align: center;
}

#rickpic{
    width: 25%;
   float:  right;
    position: relative;
    /*bottom: 200px;*/
}

.nl {
    display: inline;
}